.Notifications {
    border: 1px dashed red;
    padding: 1rem;
    position: relative;
}

.Notifications button img {
    width: 20px;
    height: 20px;
}

.Notifications ul li[data-priority="default"] {
    color: blue;
}

.Notifications ul li[data-priority="urgent"] {
    color: red;
}
